# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build
build/
dist/
*.spec
*.exe

# Logs / Temp
*.log
*.tmp
*.bak

# VS Code / IDE
.vscode/
.idea/

logs/
*.log
# Jar Dateien
*.jar

#Datenbanken
*.db
#config
config.txt

